<!DOCTYPE html>
<html>
<body>

<h1>Index</h1>

<ul>
    <li><a href="/missions">Missions</a></li>
    <li><a href="/ips">IPs</a></li>
    <li><a href="/subnets">Subnets</a></li>
    <li><a href="/devices">Devices</a></li>
    <li><a href="/org-units">Organization Units</a></li>
    <li><a href="/applications">Applications</a></li>
    <li><a href="/cves">CVEs</a></li>
    <li><a href="/asset_info">IP Asset detailed information</a></li>
    <li><a href="/assets">Upload asset information</a></li>
    <li><a href="/ip-hierarchy-sync">Synchronize IP and Subnet relationships</a></li>
</ul>

</body>
</html>
